.card {
  width: 400px;
  position: relative;
  margin: 10px;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateX(180deg);
}

.front {
  background: #d9dfe9;
  border: 8px solid white;
  position: relative;
  padding: 10px;
  font-size: 22px;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: white;
  transform: rotateX(.5turn);
  padding: 10px;
  line-height: 1.1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

h2 {
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.icon {
  height: 30px;
  width: 30px;  
  margin-right: 10px;
  color: #524c4c;
}

.row {
  display: flex;
  margin-top: 10px;
}

.plus {
  position: absolute;
  height: 28px;
  width: 28px;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.minus {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.plusWrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #d9dfe9;
}

.bold {
  font-size: 18px;
  font-weight: bold;
}

.minusWrapper {
  text-align: right;
}

