.wrapper {
  background: #d9dfe9;
  border: 8px solid white;
  padding: 10px;
  margin: 10px;
  width: 400px;
  font-size: 22px;
  position: relative;
}

h2 {
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.icon {
  height: 30px;
  width: 30px;  
  margin-right: 10px;
  color: #524c4c;
}

.row {
  display: flex;
  margin-top: 10px;
}

.plus {
  position: absolute;
  height: 28px;
  width: 28px;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}


